canvas#screen {
  cursor: none;
  border: 2px solid #333;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.middle {
  position: absolute;
  margin: auto;
  top: 50%;
  right: 44%;
  bottom: 50%;
}

.instructions {
  position: absolute;
  margin: auto;
  right: 25%;
  left: 25%;
  bottom:10%;
}

.cat-img {
  position: absolute;
  margin: auto;
  right: 0;
  left: 80%;
  top:0;
  bottom:70%;
  width:15%;
}

.cat-img-2 {
  position: absolute;
  margin: auto;
  top:70%;
  bottom:0;
  width:15%;
}

.cat {
  position: absolute;
  margin: auto;
  right: 0;
  left: 80%;
  top:10%;
  bottom:0;
}
.force {
  position: absolute;
  margin: auto;
  right: 0;
  left: 80%;
  top:30%;
  bottom:0;
}
.one {
  position: absolute;
  margin: auto;
  right: 0;
  left: 80%;
  top:50%;
  bottom:0;
}

.game-over {
  position: absolute;
  margin: auto;
  top: 50%;
  right: 40%;
  left: 40%;
  bottom: 50%;
}

.middle-score {
  position: absolute;
  margin: auto;
  top: 45%;
  right: 44%;
  bottom: 50%;
}

.level-text
{
  font-family: calibri;
  font-size:80px;
  color: #ffffff;
}

.score-under-level-text
{
  font-family: calibri;
  font-size:40px;
  color: #ffffff;
}

.score-lives-text
{
  font-family: calibri;
  font-size:60px;
  color: #000000;
}

.score {
  position: absolute;
  margin: auto;
  bottom: 85%;
  right: 85%;
}

.lives {
  position: absolute;
  top: 15%;
  right: 85%;

  margin: auto;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}